/* Navigation Code */
.header-class{
  list-style-type: none; 
  text-align:center; 
  margin: 0;
  padding: 0px;
  background-color: black;
}

.header-li{
  border-right: 1px solid white;
  display: inline-block;
}

.header-a{
  display: block;
  color: white;
  font-size:20px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.header-a:hover {
  background-color: orange;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Resume.html code */
.index-body{
  font-family: "Trirong", serif;
  padding:1px 20px;
  background-color:#f1f1f1;
}

.index-title{
 	text-align:center;
  	text-decoration: underline overline;
}

.index-text{
  background-color:white;
  padding:2px 20px;
}

.index-text
	h2{
	text-decoration: underline;
}

.index-date{
	font-style: italic;
}

.index-contact{
  vertical-align:top;
  display:inline-block;  
}

.center{
  text-align: center; 
  word-spacing: 10px; 
}

/* About.html Code  */
.about-header{
  background-color: #5F9EA0;
  padding: 0.5em;
  text-align: center;
  
}

.about-text{
  background-color: #f1f1f1;
  padding:1em;
}


.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 5px;
  text-align: justify;
  font-family: "Trirong", serif;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.title{
  color: #5F9EA0;
  border: 5px solid #5F9EA0;
  text-align:center;
}

/*Biography.html code */
.bio {
  font-family: "Trirong", serif;
  padding: 0.5em;
  background: #f1f1f1;
}

/* Image Code */
.bioimg {
  background-color: #5F9EA0;
  width: 100%;
  padding: 5px;
  width: 300px;
  height: 300px;
}

.seaimg {
  background-color: #5F9EA0;
  width: 100%;
  padding: 5px;
  width: 1028px;
  height: 200px;
}

.about-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;	
  background-color: #5F9EA0;
  padding: 5px;
  width: 600px;
  height: 300px;
}

/* About Code */
.about-page{
  text-align: center;
  border: 3px solid #5F9EA0;
}

.about-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
}

.life-body{
  font-family: "Trirong", serif;
  line-height:1.5em;
  font-size:1em;
}

/* API Map Code */
.maps-body{
  font-family: "Trirong", serif;
  line-height:1.5em;
  font-size:1em;
  background-color: lightgrey;
}

.maps-text{
  background-color: #f1f1f1;
  padding:1em;
  text-align: center;
}

#map { 
	width:100%;
	height:400px;
	background-color: grey;
}

/* Video Code */
.video{
  width:320px;
  height:240px;
}

/* Media Queries*/
@media screen and (max-width: 900px) and (min-width: 600px){
	.index-title{
  		font-size: 30px;
    	padding: 10px;
    	border: 4px solid black;
    	background: lightgray;
    	text-align: center;
	}
}

@media screen and (max-width: 600px) {
	.header-class{
   		width: 50%;
    	text-align:center; 
    	margin: 0;
  		padding: 0px;
  	}
  	.header-li{
  		border-right: 1px solid white;
  		display: inline-block;
  		font-size:5px;
	}
	.header-a{
 	 display: block;
 	 color: white;
 	 font-size:20px;
 	 text-align: center;
 	 padding: 10px;
 	 text-decoration: none;
	}
	.header-a:hover {
  		background-color: orange;
  		color: white;
	}
}